
 
/* add our own custom css below */

body {
  font-family: 'Fragment Mono', sans-serif;
    /*background-color: lightyellow;
     rgb(190, 123, 160); ,  rgb(49, 49, 110)
    background-color: rgb(231, 193, 239);*/
    background-image: linear-gradient(lightyellow,  rgb(231, 193, 239));
    font-size: 12px;
  
  }
  
  h1, h2 {
    color: tomato;
    font-family: 'Krona One', sans-serif;
    }
    
  
  
  *, ::after, ::before {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Onest');
        @import url('https://fonts.googleapis.com/css?family=Fragment+Mono');
        
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

  html {
    box-sizing: border-box;
}
/*
*, 
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
*/
a:visited {
 color: purple;
 background-color: transparent;
 text-decoration: none;
}
  
  .hold-our-zine-tenderly {
      height: 100vh;
      width: 100%;
      overflow: hidden;
      display: flex;
  }
  
  .left {
      width: 30%;
      padding: 2%;
      overflow-y: scroll;
      overflow-x: hidden;
  }
.right {
    width: 70%;
    padding: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
}
 
  img {
    width: 100%;
    padding: 2%;
  }
  
  p {
    margin-bottom: 2px;
  }
  
  
  .left {
      /* please change the border style */
      border-right: 2px dashed black;
  }
  
  .left::-webkit-scrollbar, .right::-webkit-scrollbar {
      display: none;
      width: 0 !important;
  }
  
  .button {
    background-color: white;
    color: purple;
  }
  
  #arti {
    color: blue;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}

.multiply {
  mix-blend-mode: multiply;
}

  footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(164, 107, 145);
    padding: 1em;
  }
    
  ::-moz-selection { background-color: #88b156; 
    color: #fff; } 
    ::selection { background-color:  #88b156; 
    color: #fff; }
